# ======================================
# Environnement virtuel
# ======================================
venv/

# ======================================
# Python
# ======================================
__pycache__/
*.pyc


# ======================================
# Jupyter
# ======================================
.ipynb_checkpoints/

# ======================================
# Pytest
# ======================================
.pytest_cache/

# ======================================
# VS Code
# ======================================
.vscode/

# ======================================
# macOS
# ======================================
.DS_Store


# Données générées
formule.png
data/processed/
models/logistic_regression_baseline.pkl